<%- include('partials/header.ejs') %>
<h1>About Us</h1>
<img class="profile" src="images/pics.jpg" alt="cat profile">
<p>
  Laptop and Desktop Sales At PACATECH, we offer a wide selection of laptops and desktops from leading brands, catering to all your computing needs. Whether you are a student, a professional, or a gaming enthusiast, our knowledgeable team is here to help you find the perfect device that fits your requirements and budget</p>
  <p>Laptop Repairs We understand that a malfunctioning laptop can disrupt your day-to-day activities. That’s why PACATECH offers reliable and efficient laptop repair services. Our skilled technicians are trained to handle a variety of issues, from hardware malfunctions and screen replacements to software troubleshooting and virus removal. </p>
  <p>Web Development In addition to our sales and repair services, PACATECH is also your go-to partner for web development. We create stunning, user-friendly websites tailored to your brand's unique vision and goals.</p>

<%- include('partials/footer') %>