<%- include("partials/header.ejs") %>


<header class=" grid-container  text-black text-center py-5">
  <div class="container grid-item">
      <h1 class="display-5">Welcome to Our Amazing Tech Store</h1>
      <h3 class="lead">Your one-stop solution for all your tech needs.</h3>
      <a href="/services" class="btn btn-light btn-lg">Discover More</a>
  </div>
  <div class="png grid-item">
    <img src="images/bg.jpg" alt="hero image" class="img-fluid">
  </div>
</header>

  <%- include("partials/footer.ejs") %>